[tool.poetry]
name = "ietf-reviewtool"
version = "0.1.0"
description = "Review tool for IETF documents"
authors = ["Lars Eggert <lars@eggert.org>"]
readme = "README.md"
homepage = "https://github.com/larseggert/ietf-reviewtool"
repository = "https://github.com/larseggert/ietf-reviewtool"
license = "GPL-2.0-only"

[tool.poetry.dependencies]
python = "^3.9"
requests-cache = "^0.5.2"
appdirs = "^1.4.4"
click = "^7.1.2"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
irt = "ietf_reviewtool.ietf_reviewtool:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
